# Yaml file format
Checks: >
  -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-init-variables
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-type-traits,
  -modernize-use-trailing-return-type,
  misc-definitions-in-headers,
  misc-header-include-cycle,
  misc-include-cleaner,
  misc-misplaced-const,

# Don't bother with std::array yet
#   -modernize-avoid-c-arrays, cppcoreguidelines-avoid-c-arrays
# We use the old style throughout
#   -modernize-type-traits, -modernize-use-trailing-return-type
