[flake8]
ignore = E114,E115,E116,E121,E123,E126,E133,E2,E704,E722,E741,E743,W503,F403,F405,F999
exclude =
    .git,
    buildconfig,
    docs,
    Framework/Algorithms/test,
    Framework/DataObjects,
    Framework/MPIAlgorithms,
    Framework/PythonInterface/mantid,
    Framework/PythonInterface/test,
    Framework/WorkflowAlgorithms,
    images,
    installers,
    instrument,
    MantidPlot,
    qt/applications/workbench/workbench/app/resources.py,
    qt/paraview_ext,
    qt/python/mantidqt/resources.py,
    qt/scientific_interfaces,
    qt/widgets,
    scripts/test,
    Testing/PerformanceTests,
    Testing/SystemTests/lib,
    Testing/SystemTests/scripts,
    Testing/SystemTests/tests/analysis/reference,
    Testing/Tools,
include-in-doctest=
    docs/source/,
exclude-from-doctest=
    docs/source/conf.py,
    docs/source/conf-html.py,
    docs/source/conf-qthelp.py,
    docs/source/mantid.bib,
    docs/source/usagedata-note.txt,
max-complexity = 20
max-line-length = 140
doctests=True
