default_language_version:
  python: python3

exclude: ^$|instrument/

repos:

  # Run fast code improvement/checks before running PR specific helpers.
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: 2618198e9658cccb4a53f04af0f7d642109f3b54
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: .patch$
      - id: check-added-large-files
        args: ['--maxkb=4096']
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]

  - repo: https://github.com/mantidproject/pre-commit-hooks.git
    rev: 82e4b72a17c058d99f510771e3f531fb98c3fe73
    hooks:
      - id: clang-format
        exclude: Testing/Tools/cxxtest|tools
      - id: cmake-missing-pytest-files
        # Exclude sphinx / template file
        exclude: test_doctest.py|python_export_maker.py


  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
    #- id: cmake-lint <- not ready yet

  - repo: https://gitlab.com/pycqa/flake8.git
    rev: 3.7.9
    hooks:
      - id: flake8
        # Have to manually copy this from the .flake8 as flake8 will just ignore the config if the file is passed
        exclude: Framework/PythonInterface/test|qt/applications/workbench/workbench/app/resources.py|qt/python/mantidqt/mantidqt/resources.py|qt/python/mantidqt/mantidqt/dialogs/errorreports/resources_qt4.py|qt/python/mantidqt/mantidqt/dialogs/errorreports/resources_qt5.py|Testing/PerformanceTests|Testing/SystemTests/lib|Testing/SystemTests/scripts|Testing/SystemTests/tests/framework/reference|scripts/ErrorReporter/ui_errorreport.py
        args: ['--extend-ignore=E999,F821,E127']
