default_language_version:
  python: python3

exclude: ^$|instrument/

ci:
  autofix_prs: true
  skip: [black,clang-format]

repos:

  # Run fast code improvement/checks before running PR specific helpers.
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: .patch$
      - id: check-added-large-files
        args: ['--maxkb=4096']
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: conda/recipes/mantid/meta.yaml|conda/recipes/mantidqt/meta.yaml|conda/recipes/mantiddocs/meta.yaml|conda/recipes/mantidworkbench/meta.yaml

  - repo: https://github.com/mantidproject/pre-commit-hooks.git
    rev: 2f8a4f22629d0d23332f621df9de93751331161b
    hooks:
      - id: clang-format
        exclude: Testing/Tools/cxxtest|tools
      - id: cmake-missing-pytest-files
        # Exclude sphinx / template file
        exclude: test_doctest.py|python_export_maker.py
      - id: mantid-release-note-check
        files: docs\/source\/release\/v\d+\.\d+\.\d+\/.*\/.*\.rst

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
    #- id: cmake-lint <- not ready yet

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.4
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx]
        args: ["--config", ".rstcheck.project.cfg"]
        exclude: |
          (?x)^(
          ^docs/source/index.rst$| # this has a value filled in by something
          ^docs/source/concepts/FittingMinimizersComparisonDetailed.rst| # strange ranking tags
          ^docs/source/fitting/.*|
          ^docs/source/techniques/.*
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    # ruff must appear before black in the list of hooks
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        exclude: scripts/templates/reference/|Testing/Tools/cxxtest
