default_language_version:
  python: python3

exclude: ^$|instrument/

ci:
  autofix_prs: true

repos:
  # Run fast code improvement/checks before running PR specific helpers.
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: .patch$
      - id: check-added-large-files
        args: ['--maxkb=4096']
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: conda/recipes/mantid/meta.yaml|conda/recipes/mantid-developer/meta.yaml|conda/recipes/mantidqt/meta.yaml|conda/recipes/mantiddocs/meta.yaml|conda/recipes/mantidworkbench/meta.yaml
      - id: end-of-file-fixer
        exclude: .md5$|^external/|^tools/|Testing/Tools/cxxtest
      - id: trailing-whitespace
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format # format toml files
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
    - id: clang-format
      exclude: Testing/Tools/cxxtest|tools|qt/icons/resources/

  - repo: https://github.com/mantidproject/pre-commit-hooks.git
    rev: 312eb3e59ed829275f3b87ece24a04f5345a7c6b
    hooks:
      - id: cmake-missing-pytest-files
        # Exclude sphinx / template file
        exclude: test_doctest.py|python_export_maker.py
      - id: mantid-release-note-check
        files: docs\/source\/release\/v\d+\.\d+\.\d+\/.*\/.*\.rst

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
    - id: cmake-format
    #- id: cmake-lint <- not ready yet

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
      - id: rstcheck
        additional_dependencies: [sphinx]
        args: ["--config", ".rstcheck.project.cfg"]
        exclude: |
          (?x)^(
          ^docs/source/index.rst$| # this has a value filled in by something
          ^docs/source/concepts/FittingMinimizersComparisonDetailed.rst| # strange ranking tags
          ^docs/source/fitting/.*|
          ^docs/source/techniques/.*
          )$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    # ruff must appear before black in the list of hooks
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        exclude: scripts/templates/reference/|Testing/Tools/cxxtest

  - repo: local
    hooks:
      - id: pixi-deps
        name: pixi-dependency-updater
        language: python
        entry: python tools/dependencies/pixi_dependency_updater.py
        files: |
          (?x)^(
          ^conda/recipes/mantid-developer/recipe.yaml$|
          ^conda/recipes/conda_build_config.yaml$|
          ^pixi.toml$
          )$
        additional_dependencies:
          - pyyaml
