[workspace]
channels = [
  "conda-forge",
  "neutrons",
]
name = "mantid"
# when editing local copy of mantid-developer, will need to temporarily remove
# the platforms that you aren't working on
platforms = ["linux-64", "win-64", "osx-arm64"]
version = "6.14"

[environments]
rattler-builder = {features = ["rattler-builder"], no-default-feature = true}
mantid-developer-ci = {features = ["mantid-developer-ci"], no-default-feature = true}

[feature.mantid-developer-ci]
channels = [ "conda-forge", "neutrons"]

[feature.rattler-builder.dependencies]
rattler-build = "*"
versioningit = "*"

[feature.rattler-builder.tasks.build-and-install-mantid-developer]
args = [
  "mantid_root",
  "rattler_build_path",
  "extra_build_options",
]

cmd = """
export MANTID_VERSION=$(versioningit {{ mantid_root }}) && \
rattler-build build -r {{ mantid_root }}/conda/recipes/mantid-developer/ -m {{ mantid_root }}/conda/recipes/conda_build_config.yaml --output-dir {{ rattler_build_path }} -c neutrons {{ extra_build_options }} && \
pixi workspace channel add {{ rattler_build_path }} -f mantid-developer-ci --prepend && \
pixi add -f mantid-developer-ci mantid-developer
"""
