[workspace]
authors = ["Pete Peterson <petersonpf@ornl.gov>"]
channels = ["conda-forge", "neutrons"]
name = "mantid"
# when editing local copy of mantid-developer, will need to temporarily remove
# the platforms that you aren't working on
platforms = ["linux-64", "win-64", "osx-arm64"]
version = "6.14"

[tasks]

[dependencies]
cmake = ">=3.21.0"
doxygen = "1.9.*"
eigen = "3.4.*"
euphonic = ">=1.4.5,<2.0"
seekpath = { version = "==2.1.0", build = "*2" }
graphviz = ">=2.47.0"
gsl = "2.8.*"
gtest = "==1.17.0"
gmock = "==1.17.0"
hdf4 = "4.2.*"
hdf5 = ">1.14.0,<1.15"
jsoncpp = ">=1.9.4,<2"
librdkafka = ">=1.6.0"
matplotlib = "3.9.*"
muparser = ">=2.3.2,<2.3.5"
ninja = ">=1.10.2"
numpy = "2.1.*"
occt = { version = "7.*", build = "novtk*" }
pillow = "<12.0.0"
pip = ">=21.0.1"
poco = ">=1.14"
psutil = ">=5.8.0"
pydantic = ">=2.11.4,<3"
pyqt = ">=5.15,<6"
pyqt5-sip = "<12.13"
pystog = ">=0.5.0"
python-dateutil = ">=2.8.1"
python = "3.11.*"
pyvista = ">=0.45"
pyyaml = ">=5.4.1"
qscintilla2 = "2.13.*"
qt-main = "5.15.*"
qtconsole = ">5.5.0"
qtpy = ">=2.4,!=2.4.2"
quasielasticbayes = "==0.3.0"
quickbayes = "==1.0.2"
rattler-build = "==0.51.0"
requests = ">=2.32.4"
scipy = ">=1.10.0"
sphinx = ">=4.5,<9"
sphinx_bootstrap_theme = "==0.8.1"
tbb-devel = "2021.*"
toml = ">=0.10.2"
versioningit = ">=2.1"
orsopy = "==1.2.1"
cppcheck = "==2.18.1"
pre-commit = ">=4.0"
ccache = ">=4.11.3,<5"
rattler-index = ">=0.27.4,<0.28"
h5py = ">=3.15.1,<4"
pycifrw = ">=4.4.6,<5"
pyqtwebengine = ">=5.15.9,<6"
pyvistaqt = ">=0.11.3,<0.12"
superqt = ">=0.7.6,<0.8"
setuptools = ">=80.9.0,<81"
zlib = ">=1.3.1,<2"
joblib = ">=1.5.2,<2"

[target.linux-64.dependencies]
jemalloc = "==5.2.0"
gxx_linux-64 = "13.*"
xorg-libxcomposite = ">=0.4.5"
xorg-libxcursor = ">=1.2.0"
xorg-libxdamage = ">=1.1.5"
xorg-libxi = ">=1.7.10"
xorg-libxscrnsaver = ">=1.2.3"
xorg-libxtst = ">=1.2.3"
gcovr = ">=4.2"
lz4 = ">=4.4.5,<5"
pystack = ">=1.5.1,<2"
qt-gtk-platformtheme = ">=5.15.15,<6"
texlive-core = ">=20180414"
libgl-devel = ">=1.7.0,<2"
libglu = ">=9.0"
libopenblas = "==0.3.27"
libboost-devel = "1.88.*"
libboost-python-devel = "1.88.*"

[target.win-64.dependencies]
gdk-pixbuf = { version = "==2.42.12", build = "hed59a49_0" }
conda-wrappers = ">=1.1.3,<2"
lib3mf = ">=2.4.1,<3"
libboost-devel = "1.88.*"
libboost-python-devel = "1.88.*"

[target.osx-arm64.dependencies]
clang_osx-arm64 = "18.*"
clangxx_osx-arm64 = "18.*"
llvm-openmp = "18.*"
"python.app" = ">=1.4,<2"
libcxx = ">=21.1.6,<22"
libopenblas = "==0.3.27"
libboost-devel = "1.86.*"
libboost-python-devel = "1.86.*"
