[workspace]
authors = ["Pete Peterson <petersonpf@ornl.gov>"]
channels = ["conda-forge",
	    "neutrons",
	    "mantid/label/nightly",]
name = "mantid"
# when editing local copy of mantid-developer, will need to temporarily remove
# the platforms that you aren't working on
platforms = ["linux-64", "win-64", "osx-arm64"]
version = "6.14"

[tasks]

[dependencies]
mantid-developer = ">=6.14.20251113.1552,<6.15"
pip-audit = ">=2.9.0,<3"
periodictable = ">=1.7.1,<2"
