[tool.ruff]
line-length = 140
# https://beta.ruff.rs/docs/rules/
lint.select = ["C90", "E", "F", "RUF100", "W"]
lint.ignore = ["E722", # bare except
]
exclude = [
   "qt/applications/workbench/workbench/app/resources.py",
   "qt/python/mantidqt/mantidqt/resources.py",
   "qt/python/mantidqt/mantidqt/dialogs/errorreports/resources_qt5.py",
   "Testing/PerformanceTests",
   "Testing/SystemTests/lib",
   "Testing/SystemTests/scripts",
   "Testing/SystemTests/tests/framework/reference",
   "scripts/ErrorReporter/ui_errorreport.py"
   ]

[tool.ruff.lint.mccabe]
max-complexity = 20


[tool.versioningit.vcs]
method = "git"
default-tag = "0.0.0"
exclude = ["nightly"]

[tool.versioningit.next-version]
method = "minor"

[tool.versioningit.format]
distance = "{base_version}.dev{distance}"
dirty = "{base_version}+uncommitted"
distance-dirty = "{base_version}.dev{distance}+uncommitted"
