[tool.ruff]
line-length = 140
# https://beta.ruff.rs/docs/rules/
lint.select = ["C90", "E", "F", "FURB", "RUF100", "UP001", "UP010", "UP012", "UP019", "UP020", "UP021",
"UP025", "UP026", "UP029", "UP036", "W", "NPY201", "S"]
lint.ignore = ["E722", # bare except https://docs.astral.sh/ruff/rules/bare-except/
"S101", # using assert https://docs.astral.sh/ruff/rules/assert/
"S110", # try-except-pass https://docs.astral.sh/ruff/rules/try-except-pass/
"S112", # try-except-continue https://docs.astral.sh/ruff/rules/try-except-continue/
"S314", # use of xml module https://docs.astral.sh/ruff/rules/suspicious-xml-element-tree-usage/
"S311", # use of insecure random numbers https://docs.astral.sh/ruff/rules/suspicious-non-cryptographic-random-usage/
"S324", # probable use of insecure hash functions https://docs.astral.sh/ruff/rules/hashlib-insecure-hash-function/
"S301", # suspicious pickle use https://docs.astral.sh/ruff/rules/suspicious-pickle-usage/
"S607", # starting process with partial path https://docs.astral.sh/ruff/rules/start-process-with-partial-path/
"S603", # check subprocess for untrusted input https://docs.astral.sh/ruff/rules/subprocess-without-shell-equals-true/
"S605", # starting process with a shell https://docs.astral.sh/ruff/rules/start-process-with-a-shell/
"S318"  # use of xml module https://docs.astral.sh/ruff/rules/suspicious-xml-mini-dom-usage/
]
exclude = [
   "qt/applications/workbench/workbench/app/resources.py",
   "qt/python/mantidqt/mantidqt/resources.py",
   "qt/python/mantidqt/mantidqt/dialogs/errorreports/resources_qt5.py",
   "Testing/PerformanceTests",
   "Testing/SystemTests/lib",
   "Testing/SystemTests/scripts",
   "Testing/SystemTests/tests/framework/reference",
   "scripts/ErrorReporter/ui_errorreport.py"
   ]

[tool.ruff.lint.mccabe]
max-complexity = 20


[tool.versioningit.vcs]
method = "git"
default-tag = "0.0.0"
exclude = ["nightly"]

[tool.versioningit.next-version]
method = "minor"

[tool.versioningit.format]
distance = "{base_version}.dev{distance}"
dirty = "{base_version}+uncommitted"
distance-dirty = "{base_version}.dev{distance}+uncommitted"
