[Desktop Entry]
Name=MantidPlot
Comment=Neutron Data Reduction Framework
GenericName=MantidPlot
Exec=/opt/Mantid/bin/MantidPlot
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Education;Science;Qt;Analysis
Icon=mantidplot
StartupNotify=false
Name[en]=MantidPlot
