<?xml version='1.0' encoding='Windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Product Name='Mantid' Id='{CA88C1C7-AEB8-4bd6-A62C-9C436FA31211}'
    Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='STFC Rutherford Appleton Laboratories'>

    <Package Id='????????-????-????-????-????????????' Keywords='Installer'
      Description='Mantid Installer'
      Comments='Mantid is a registered trademark of RAL' Manufacturer='RAL'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Mantid.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
    <Property Id='DiskPrompt' Value='Mantid Installation [1]' />

    <Property Id='PYTHON_25_DIR_EXISTS'>
      <DirectorySearch Id='ChecPykDir' Path='C:\Python25' Depth='0'/>
    </Property>

    <Condition Message='Mantid requires Python 2.5 to be installed on your machine. It can be downloaded and installed from http://www.python.org/download/'>
      PYTHON_25_DIR_EXISTS
    </Condition> 

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='INSTALLDIR' Name ='MInstall' LongName='MantidInstall'>
        <Directory Id='MantidBin' Name ='bin'>

          <Component Id='MantidDLLs' Guid='{FABC0481-C18D-415e-A0B1-CCB76C35FBE8}'>
            <File Id='MantidProperties' Name='Mantid.pro'  LongName='Mantid.properties' DiskId='1' 
              Source='..\Mantid\debug\Mantid.properties' Vital='yes'/>
            
            <File Id='MantidAlgorithmsDLL' Name='MAlg.dll'  LongName='MantidAlgorithms.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidAlgorithms.dll' Vital='yes'/>
            <File Id='MantidAPIDLL' Name='MAPI.dll'  LongName='MantidAPI.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidAPI.dll' Vital='yes'/>
            <File Id='MantidDataHandlingDLL' Name='MDataH.dll'  LongName='MantidDataHandling.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidDataHandling.dll' Vital='yes'/>
            <File Id='MantidDataObjectsDLL' Name='MDObj.dll'  LongName='MantidDataObjects.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidDataObjects.dll' Vital='yes'/>
            <File Id='MantidGeometryDLL' Name='MGeom.dll'  LongName='MantidGeometry.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidGeometry.dll' Vital='yes'/>
            <File Id='MantidKernelDLL' Name='MKernel.dll' LongName='MantidKernel.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidKernel.dll' Vital='yes'/>
            <File Id='MantidPythonAPIDLL' Name='MPAPI.dll'  LongName='MantidPythonAPI.dll' DiskId='1' 
              Source='..\Mantid\Bin\Shared\MantidPythonAPI.dll' Vital='yes'/>
            <File Id='MantidUsersAlgorithmsDLL' Name='MUAlg.dll'  LongName='UsersAlgorithms.dll' DiskId='1' 
              Source='..\Mantid\Bin\Plugins\UsersAlgorithms.dll' Vital='yes'/> 

            <File Id='PocoFoundationDLL' Name='PFound.dll'  LongName='PocoFoundation.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\PocoFoundation.dll' Vital='yes'/>
            <File Id='PocoNetDLL' Name='PNet.dll'  LongName='PocoNet.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\PocoNet.dll' Vital='yes'/>
            <File Id='PocoUtilDLL' Name='PUtil.dll'  LongName='PocoUtil.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\PocoUtil.dll' Vital='yes'/>
            <File Id='PocoXMLDLL' Name='PocoXML.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\PocoXML.dll' Vital='yes'/>
            <File Id='cblasDLL' Name='cblas.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\cblas.dll' Vital='yes'/>
            <File Id='gslDLL' Name='gsl.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\gsl.dll' Vital='yes'/>
            <File Id='hd421mDLL' Name='hd421m.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\hd421m.dll' Vital='yes'/>
            <File Id='hdf5dllDLL' Name='hdf5dll.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\hdf5dll.dll' Vital='yes'/>
            <File Id='hm421mDLL' Name='hm421m.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\hm421m.dll' Vital='yes'/>
            <File Id='libNeXus_0DLL' Name='libNeXus.dll' LongName='libNeXus-0.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\libNeXus-0.dll' Vital='yes'/>
            <File Id='szlibdllDLL' Name='szlibdll.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\szlibdll.dll' Vital='yes'/>
            <File Id='zlib1DLL' Name='zlib1.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\zlib1.dll' Vital='yes'/>
          </Component>

          <Component Id='QTIPlot' Guid='{03ABDE5C-9084-4ebd-9CF8-31648BEFDEB7}'>

            <File Id='QTIPlotEXE' Name='qtiplot.exe' Vital='yes' DiskId='1'
              Source='..\qtiplot\qtiplot\qtiplot.exe'>
              <Shortcut Id='startmenuQTIPlot' Directory='ProgramMenuDir' Name='QTIPlot' 
                WorkingDirectory='QTIPlotDir'/>
              <Shortcut Id='desktopQTIPlot' Directory='DesktopFolder' Name='QTIPlot'
                WorkingDirectory='QTIPlotDir'/>
            </File>

            <File Id='zlib1DLL_1' Name='zlib1.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\zlib1.dll' Vital='yes'/>
            <File Id='cblasDLL_1' Name='cblas.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\cblas.dll' Vital='yes'/>
            <File Id='gslDLL_1' Name='gsl.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\gsl.dll' Vital='yes'/>
            <File Id='muparserDLL' Name='muparser.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\muparser.dll' Vital='yes'/>
            <File Id='qwtplot3dDLL' Name='qwtplot3.dll' LongName='qwtplot3d.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\qwtplot3d.dll' Vital='yes'/>

            <File Id='boost_filesystem_vc80_mtDLL' Name='bfsmt.dll' LongName='boost_filesystem-vc80-mt-1_34_1.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\boost_filesystem-vc80-mt-1_34_1.dll' Vital='yes'/>
            <File Id='boost_python_vc80_mtDLL' Name='bpymt.dll' LongName='boost_python-vc80-mt-1_34_1.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\boost_python-vc80-mt-1_34_1.dll' Vital='yes'/>
            <File Id='boost_regex_vc80_mt_DLL' Name='brex.dll' LongName='boost_regex-vc80-mt-1_34_1.dll' DiskId='1' 
              Source='..\Third_Party\lib\win32\boost_regex-vc80-mt-1_34_1.dll' Vital='yes'/>

            <File Id='Qt3Support4DLL' Name='Qt3Supp4.dll' LongName='Qt3Support4.dll' DiskId='1' 
              Source='C:\Qt\bin\Qt3Support4.dll' Vital='yes'/>
            <File Id='QtAssistantClient4DLL' Name='QtAC4.dll' LongName='QtAssistantClient4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtAssistantClient4.dll' Vital='yes'/>
            <File Id='QtCore4DLL' Name='QtCore4.dll' LongName='QtCore4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtCore4.dll' Vital='yes'/>
            <File Id='QtGui4DLL' Name='QtGui4.dll' LongName='QtGui4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtGui4.dll' Vital='yes'/>
            <File Id='QtNetwork4DLL' Name='QtNet4.dll' LongName='QtNetwork4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtNetwork4.dll' Vital='yes'/>
            <File Id='QtOpenGL4DLL' Name='QtOGL4.dll' LongName='QtOpenGL4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtOpenGL4.dll' Vital='yes'/>
            <File Id='QtSql4DLL' Name='QtSql4.dll' LongName='QtSqlGL4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtSql4.dll' Vital='yes'/>
            <File Id='QtSvg4DLL' Name='QtSvg4.dll' LongName='QtSvgGL4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtSvg4.dll' Vital='yes'/>
            <File Id='QtXml4DLL' Name='QtXml4.dll' LongName='QtXmlGL4.dll' DiskId='1' 
              Source='C:\Qt\bin\QtXml4.dll' Vital='yes'/>
          </Component>
          <Directory Id='Tests' Name='tests'>
            <Component Id='TestsDir' Guid='{A9026C7E-2DB1-4767-9519-B05B12F1DB53}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
              <CreateFolder/>
            </Component>
          </Directory>
          
        </Directory>

        <Directory Id='PluginsDir' Name='plugins'>
          <Component Id='Plugins' Guid='{EEF0B4C9-DE52-4f99-A8D0-9D3C3941FA73}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
            <CreateFolder/>
          </Component>
        </Directory>

        <Directory Id='DocumentsDir' Name='docs'>
          <Component Id='Documents' Guid='{C16B2B59-17C8-4cc9-8A7F-16254EB8B2F4}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
            <CreateFolder/>
          </Component>
        </Directory>

        <Directory Id='LogsDir' Name='logs'>
          <Component Id='Logs' Guid='{0918C9A4-3481-4f21-B941-983BE21F9674}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
            <CreateFolder/>
          </Component>
        </Directory>

        <Directory Id='IncludeDir' Name='include'>
          
          <Directory Id='IncAlgorithmsDir' Name='MAlg' LongName='MantidAlgorithms' >
            <Component Id='IncAlgorithms' Guid='{EDB85D81-1CED-459a-BF87-E148CEE6F9F6}'>
              <File Id='BinaryOperationH' Name='BiOp.h' LongName='BinaryOperation.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\BinaryOperation.h'/>
              <File Id='CommutativeBinaryOperationH' Name='CoBiOp.h' LongName='CommutativeBinaryOperation.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\CommutativeBinaryOperation.h'/>
              <File Id='ConvertUnitsH' Name='ConUnits.h' LongName='ConvertUnits.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\ConvertUnits.h'/>
              <File Id='DivideH' Name='Divide.h' LongName='Divide.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\Divide.h'/>
              <File Id='MinusH' Name='Minus.h' LongName='Minus.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\Minus.h'/>
              <File Id='MultiplyH' Name='Multiply.h' LongName='Multiply.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\Multiply.h'/>
              <File Id='PlusH' Name='Plus.h' LongName='Plus.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\Plus.h'/>
              <File Id='SimpleIntegrationH' Name='SimpleIn.h' LongName='SimpleIntegration.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\SimpleIntegration.h'/>
              <File Id='SimpleRebinH' Name='SimpleRe.h' LongName='SimpleRebin.h' DiskId='1' 
                Source='..\Mantid\Algorithms\inc\MantidAlgorithms\SimpleRebin.h'/>
            </Component>
          </Directory>

          <Directory Id='IncAPIDir' Name='MAlg' LongName='MantidAPI' >
            <Component Id='IncAPI' Guid='{7102F41D-34A2-4e74-9357-4A38F8E08F85}'>
              <File Id='AlgorithmH' Name='Alg.h' LongName='Algorithm.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\Algorithm.h'/>
              <File Id='AlgorithmFactoryH' Name='AlgFact.h' LongName='AlgorithmFactory.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\AlgorithmFactory.h'/>
              <File Id='AlgorithmHistoryH' Name='AlgHist.h' LongName='AlgorithmHistory.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\AlgorithmHistory.h'/>
              <File Id='AlgorithmManagerH' Name='AlgMan.h' LongName='AlgorithmManager.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\AlgorithmManager.h'/>
              <File Id='AlgorithmParameterH' Name='AlgPar.h' LongName='AlgorithmParameter.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\AlgorithmParameter.h'/>
              <File Id='AnalysisDataServiceH' Name='ADServ.h' LongName='AnalysisDataService.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\AnalysisDataService.h'/>
              <File Id='DeclareUserAlgH' Name='DecUAlg.h' LongName='DeclareUserAlg.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\DeclareUserAlg.h'/>
              <File Id='DllExportH' Name='DlExport.h' LongName='DllExport.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\DllExport.h'/>
              <File Id='EnvironmentHistoryH' Name='EnvHist.h' LongName='EnvironmentHistory.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\EnvironmentHistory.h'/>
              <File Id='FrameworkManagerH' Name='FrameMan.h' LongName='FrameworkManager.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\FrameworkManager.h'/>
              <File Id='GaussianErrorHelperH' Name='GauError.h' LongName='GaussianErrorHelper.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\GaussianErrorHelper.h'/>
              <File Id='IAlgorithmH' Name='IAlg.h' LongName='IAlgorithm.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\IAlgorithm.h'/>
              <File Id='IDataItemH' Name='IData.h' LongName='IDataItem.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\IDataItem.h'/>
              <File Id='IErrorHelperH' Name='IError.h' LongName='IErrorHelper.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\IErrorHelper.h'/>
              <File Id='ILocatedDataH' Name='ILocData.h' LongName='ILocatedData.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\ILocatedData.h'/>
              <File Id='InstrumentH' Name='Instr.h' LongName='Instrument.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\Instrument.h'/>
              <File Id='IWorkspacePropertyH' Name='IWorkPro.h' LongName='IWorkspaceProperty.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\IWorkspaceProperty.h'/>
              <File Id='LocatedDataRefH' Name='LocDRef.h' LongName='LocatedDataRef.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\LocatedDataRef.h'/>
              <File Id='LocatedDataValueH' Name='LocDVal.h' LongName='LocatedDataValue.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\LocatedDataValue.h'/>
              <File Id='SampleH' Name='Sample.h' LongName='Sample.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\Sample.h'/>
              <File Id='SpectraDetectorMapH' Name='SpDetMap.h' LongName='SpectraDetectorMap.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\SpectraDetectorMap.h'/>
              <File Id='WorkspaceH' Name='Wspace.h' LongName='Workspace.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\Workspace.h'/>
              <File Id='WorkspaceFactoryH' Name='WorkFact.h' LongName='WorkspaceFactory.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\WorkspaceFactory.h'/>
              <File Id='WorkspaceHistoryH' Name='WorkHist.h' LongName='WorkspaceHistory.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\WorkspaceHistory.h'/>
              <File Id='WorkspaceIteratorH' Name='WorkIter.h' LongName='WorkspaceIterator.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\WorkspaceIterator.h'/>
              <File Id='WorkspaceIteratorCodeH' Name='WItCode.h' LongName='WorkspaceIteratorCode.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\WorkspaceIteratorCode.h'/>
              <File Id='WorkspaceOpOverloadsH' Name='WOpOver.h' LongName='WorkspaceOpOverloads.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\WorkspaceOpOverloads.h'/>
              <File Id='WorkspacePropertyH' Name='WorkProp.h' LongName='WorkspaceProperty.h' DiskId='1' 
                Source='..\Mantid\API\inc\MantidAPI\WorkspaceProperty.h'/>
            </Component>
          </Directory>

          <Directory Id='IncDataHandlingDir' Name='MDatHand' LongName='MantidDataHandling' >
            <Component Id='IncDataHandling' Guid='{9F39EEA5-1AF6-471d-933F-95EFC69CE731}'>
              <File Id='DataHandlingCommandH' Name='DataHCom.h' LongName='DataHandlingCommand.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\DataHandlingCommand.h'/>
              <File Id='GroupDetectorsH' Name='GroupDet.h' LongName='GroupDetectors.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\GroupDetectors.h'/>
              <File Id='LoadInstrumentH' Name='LoadInst.h' LongName='LoadInstrument.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\LoadInstrument.h'/>
              <File Id='LoadInstrumentFromRawH' Name='LoadIRaw.h' LongName='LoadInstrumentFromRaw.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\LoadInstrumentFromRaw.h'/>
              <File Id='LoadLogH' Name='LoadLog.h' LongName='LoadLog.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\LoadLog.h'/>
              <File Id='LoadMappingTableH' Name='LoadMapT.h' LongName='LoadMappingTable.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\LoadMappingTable.h'/>
              <File Id='LoadNeXusH' Name='LoNeXus.h' LongName='LoadNeXus.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\LoadNeXus.h'/>
              <File Id='LoadRawH' Name='LoadRaw.h' LongName='LoadRaw.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\LoadRaw.h'/>
              <File Id='MarkDeadDetectorsH' Name='MarkDead.h' LongName='MarkDeadDetectors.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\MarkDeadDetectors.h'/>
              <File Id='SaveCSVH' Name='SaveCSV.h' LongName='SaveCSV.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\SaveCSV.h'/>
              <File Id='SaveNeXusH' Name='SavNeXus.h' LongName='SaveNeXus.h' DiskId='1' 
                Source='..\Mantid\DataHandling\inc\MantidDataHandling\SaveNeXus.h'/>
            </Component>
          </Directory>

          <Directory Id='IncDataObjectsDir' Name='MDatObj' LongName='MantidDataObjects' >
            <Component Id='IncDataObjects' Guid='{0872FFD4-BF4F-4920-891E-2F922D68454B}'>
              <File Id='Histogram1DH' Name='Hist1D.h' LongName='Histogram1D.h' DiskId='1' 
                Source='..\Mantid\DataObjects\inc\MantidDataObjects\Histogram1D.h'/>
              <File Id='ManagedDataBlock2DH' Name='ManDBl2D.h' LongName='ManagedDataBlock2D.h' DiskId='1' 
                Source='..\Mantid\DataObjects\inc\MantidDataObjects\ManagedDataBlock2D.h'/>
              <File Id='ManagedWorkspace2DH' Name='MWork2D.h' LongName='ManagedWorkspace2D.h' DiskId='1' 
                Source='..\Mantid\DataObjects\inc\MantidDataObjects\ManagedWorkspace2D.h'/>
              <File Id='Workspace1DH' Name='Work1D.h' LongName='Workspace1D.h' DiskId='1' 
                Source='..\Mantid\DataObjects\inc\MantidDataObjects\Workspace1D.h'/>
              <File Id='Workspace2DH' Name='Work2D.h' LongName='Workspace2D.h' DiskId='1' 
                Source='..\Mantid\DataObjects\inc\MantidDataObjects\Workspace2D.h'/>
            </Component>
          </Directory>

          <Directory Id='IncGeometryDir' Name='MGeom' LongName='MantidGeometry' >
            <Component Id='IncGeometry' Guid='{3EA0B91E-A761-4199-B125-B9147856700D}'>
              <File Id='AcompH' Name='Acomp.h' LongName='Acomp.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Acomp.h'/>
              <File Id='AlgebraH' Name='Algebra.h' LongName='Algebra.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Algebra.h'/>
              <File Id='BaseVisitH' Name='BVisit.h' LongName='BaseVisit.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\BaseVisit.h'/>
              <File Id='BnIdH' Name='BnId.h' LongName='BnId.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\BnId.h'/>
              <!--File Id='ChebPolyH' Name='ChebPoly.h' LongName='ChebPoly.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\ChebPoly.h'/-->
              <File Id='CompAssemblyH' Name='CompAs.h' LongName='CompAssembly.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\CompAssembly.h'/>
              <File Id='ComponentH' Name='Comp.h' LongName='Component.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Component.h'/>
              <File Id='ConeH' Name='Cone.h' LongName='Cone.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Cone.h'/>
              <File Id='CylinderH' Name='Cylinder.h' LongName='Cylinder.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Cylinder.h'/>
              <File Id='DetectorH' Name='Detector.h' LongName='Detector.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Detector.h'/>
              <File Id='DetectorGroupH' Name='DetGroup.h' LongName='DetectorGroup.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\DetectorGroup.h'/>
              <File Id='ElementH' Name='Element.h' LongName='Element.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Element.h'/>
              <File Id='FluxH' Name='Flux.h' LongName='Flux.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Flux.h'/>
              <File Id='GeneralH' Name='General.h' LongName='General.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\General.h'/>
              <File Id='IDetectorH' Name='IDetect.h' LongName='IDetector.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\IDetector.h'/>
              <File Id='LineH' Name='Line.h' LongName='Line.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Line.h'/>
              <File Id='LineIntersectVisitH' Name='LinInter.h' LongName='LineIntersectVisit.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\LineIntersectVisit.h'/>
              <File Id='LinkIteratorH' Name='LinkIter.h' LongName='LinkIterator.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\LinkIterator.h'/>
              <File Id='MapSupportH' Name='MapSupp.h' LongName='MapSupport.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\MapSupport.h'/>
              <File Id='MaterialH' Name='Material.h' LongName='Material.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Material.h'/>
              <File Id='MatrixH' Name='Matrix.h' LongName='Matrix.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Matrix.h'/>
              <File Id='MatrixBaseH' Name='MatBase.h' LongName='MatrixBase.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\MatrixBase.h'/>
              <File Id='ObjComponentH' Name='ObjComp.h' LongName='ObjComponent.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\ObjComponent.h'/>
              <File Id='ObjectH' Name='Object.h' LongName='Object.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Object.h'/>
              <File Id='PlaneH' Name='Plane.h' LongName='Plane.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Plane.h'/>
              <File Id='PolyBaseH' Name='PolyBase.h' LongName='PolyBase.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\PolyBase.h'/>
              <File Id='PolyFunctionH' Name='PolyFunc.h' LongName='PolyFunction.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\PolyFunction.h'/>
              <File Id='PolyVarH' Name='PolyVar.h' LongName='PolyVar.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\PolyVar.h'/>
              <File Id='QuadraticH' Name='Quadr.h' LongName='Quadratic.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Quadratic.h'/>
              <File Id='QuatH' Name='Quat.h' LongName='Quat.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Quat.h'/>
              <File Id='RefConH' Name='RefCon.h' LongName='RefCon.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\RefCon.h'/>
              <File Id='RegexSupportH' Name='RegexSup.h' LongName='RegexSupport.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\RegexSupport.h'/>
              <File Id='RulesH' Name='Rules.h' LongName='Rules.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Rules.h'/>
              <File Id='SamGeometryH' Name='SamGeom.h' LongName='SamGeometry.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\SamGeometry.h'/>
              <File Id='SimulationH' Name='Simul.h' LongName='Simulation.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Simulation.h'/>
              <File Id='SphereH' Name='Sphere.h' LongName='Sphere.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Sphere.h'/>
              <File Id='SurfaceH' Name='Surface.h' LongName='Surface.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Surface.h'/>
              <File Id='surfaceFactoryH' Name='surFact.h' LongName='surfaceFactory.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\surfaceFactory.h'/>
              <File Id='TorusH' Name='Torus.h' LongName='Torus.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Torus.h'/>
              <File Id='TrackH' Name='Track.h' LongName='Track.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Track.h'/>
              <File Id='TripleH' Name='Triple.h' LongName='Triple.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\Triple.h'/>
              <File Id='V3DH' Name='V3D.h' LongName='V3D.h' DiskId='1' 
                Source='..\Mantid\Geometry\inc\MantidGeometry\V3D.h'/>
            </Component>
          </Directory>

          <Directory Id='IncKernelDir' Name='MKernel' LongName='MantidKernel' >
            <Component Id='IncKernel' Guid='{049211A4-6B4A-4885-8DC3-B7BDF750CCEB}'>
              <File Id='ArrayPropertyH' Name='Array.h' LongName='ArrayProperty.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\ArrayProperty.h'/>
              <File Id='BoundedValidatorH' Name='BoundVal.h' LongName='BoundedValidator.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\BoundedValidator.h'/>
              <File Id='ConfigServiceH' Name='ConServ.h' LongName='ConfigService.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\ConfigService.h'/>
              <File Id='cow_ptrH' Name='cow_ptr.h' LongName='cow_ptr.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\cow_ptr.h'/>
              <File Id='KernelDllExportH' Name='DllExp.h' LongName='DllExport.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\DllExport.h'/>
              <File Id='DllOpenH' Name='DllOpen.h' LongName='DllOpen.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\DllOpen.h'/>
              <File Id='DynamicFactoryH' Name='DynFact.h' LongName='DynamicFactory.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\DynamicFactory.h'/>
              <File Id='ExceptionH' Name='Except.h' LongName='Exception.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\Exception.h'/>
              <File Id='INamedInterfaceH' Name='INamedI.h' LongName='INamedInterface.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\INamedInterface.h'/>
              <File Id='InstantiatorH' Name='Instant.h' LongName='Instantiator.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\Instantiator.h'/>
              <File Id='IStorableH' Name='IStor.h' LongName='IStorable.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\IStorable.h'/>
              <File Id='IValidatorH' Name='IValid.h' LongName='IValidator.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\IValidator.h'/>
              <File Id='LibraryManagerH' Name='LibMan.h' LongName='LibraryManager.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\LibraryManager.h'/>
              <File Id='LibraryWrapperH' Name='LibWrap.h' LongName='LibraryWrapper.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\LibraryWrapper.h'/>
              <File Id='LoggerH' Name='Logger.h' LongName='Logger.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\Logger.h'/>
              <File Id='MandatoryValidatorH' Name='MandVali.h' LongName='MandatoryValidator.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\MandatoryValidator.h'/>
              <File Id='NullValidatorH' Name='NullVali.h' LongName='NullValidator.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\NullValidator.h'/>
              <File Id='PhysicalConstantsH' Name='PhysCon.h' LongName='PhysicalConstants.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\PhysicalConstants.h'/>
              <File Id='PropertyH' Name='Property.h' LongName='Property.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\Property.h'/>
              <File Id='PropertyManagerH' Name='PropMan.h' LongName='PropertyManager.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\PropertyManager.h'/>
              <File Id='PropertyWithValueH' Name='PrWithV.h' LongName='PropertyWithValue.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\PropertyWithValue.h'/>
              <File Id='SingletonHolderH' Name='SiHolder.h' LongName='SingletonHolder.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\SingletonHolder.h'/>
              <File Id='SupportH' Name='Support.h' LongName='Support.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\Support.h'/>
              <File Id='SupportTempCodeH' Name='SupTempC.h' LongName='SupportTempCode.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\SupportTempCode.h'/>
              <File Id='SystemH' Name='System.h' LongName='System.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\System.h'/>
              <File Id='TimeSeriesPropertyH' Name='TSeries.h' LongName='TimeSeriesProperty.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\TimeSeriesProperty.h'/>
              <File Id='UnitH' Name='Unit.h' LongName='Unit.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\Unit.h'/>
              <File Id='UnitFactoryH' Name='UFactory.h' LongName='UnitFactory.h' DiskId='1' 
                Source='..\Mantid\Kernel\inc\MantidKernel\UnitFactory.h'/>
            </Component>
          </Directory>

        <Directory Id='IncPythonAPIDir' Name='MPython' LongName='MantidPythonAPI' >
          <Component Id='IncPythonAPI' Guid='{771FD02A-F602-49ef-8759-988FCBC78DC8}'>
            <File Id='PythonInterfaceH' Name='PythonI.h' LongName='PythonInterface.h' DiskId='1' 
              Source='..\Mantid\PythonAPI\inc\MantidPythonAPI\PythonInterface.h'/>
          </Component>
        </Directory>

          <Directory Id='IncUserAlgorithmsDir' Name='MUser' LongName='MantidUserAlgorithms' >
            <Component Id='IncUserAlgorithms' Guid='{AA6B40F2-A26C-471e-B8C7-CE5369C5BF3D}'>
              <File Id='HelloWorldAlgorithmH' Name='Hello.h' LongName='HelloWorldAlgorithm.h' DiskId='1' 
                Source='..\Mantid\UserAlgorithms\HelloWorldAlgorithm.h'/>
              <File Id='ModifyDataH' Name='Modify.h' LongName='ModifyData.h' DiskId='1' 
                Source='..\Mantid\UserAlgorithms\ModifyData.h'/>
              <File Id='PropertyAlgorithmH' Name='Property.h' LongName='PropertyAlgorithm.h' DiskId='1' 
                Source='..\Mantid\UserAlgorithms\PropertyAlgorithm.h'/>
              <File Id='WorkspaceAlgorithmH' Name='Worksp.h' LongName='WorkspaceAlgorithm.h' DiskId='1' 
                Source='..\Mantid\UserAlgorithms\WorkspaceAlgorithm.h'/>
            </Component>
          </Directory>
          
        </Directory>

        <Directory Id='TempDir' Name='temp'>
          <Component Id='Temp' Guid='{02D25B60-A114-4f2a-A211-DE88CF648C61}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
            <CreateFolder/>
          </Component>
        </Directory>

        <Directory Id='DataDir' Name='data'>
          <Component Id='Data' Guid='{6D9A0A53-42D5-46a5-8E88-6BB4FB7A5FE1}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
            <CreateFolder/>
          </Component>
        </Directory>

        <Directory Id='SourceDir' Name='source'>
          <Component Id='Source' Guid='{9A6BF2E5-2606-441c-B250-2EAE81C64B01}' SharedDllRefCount='no' 
              KeyPath='no' NeverOverwrite='no' Permanent='no' Transitive='no' Win64='no' Location='either'>
            <CreateFolder/>
          </Component>
        </Directory>

      </Directory>


      <Directory Id='Python25Dir' Name='Python25'>
        <Directory Id='LibDir' Name='Lib'>
          <Directory Id='SitePackagesDir' Name='sitepack' LongName='site-packages'>
            <Directory Id='PyQtDir' Name='PyQt4' >
              
              <Component Id='PyQt' Guid='{18028C0B-9DF4-48f6-B8FC-DE195FE994A0}' Permanent='yes'>
                <File Id='initPYD' Name='__init__.pyc' DiskId='1' 
                  Source='PyQt4\__init__.pyc'/>
                <File Id='QtPYD' Name='Qt.pyd' DiskId='1' 
                  Source='PyQt4\Qt.pyd'/>
                <File Id='QtAssistantPYD' Name='QtAssis.pyd' LongName='QtAssistant.pyd' DiskId='1' 
                  Source='PyQt4\QtAssistant.pyd'/>
                <File Id='QtCorePYD' Name='QtCore.pyd' LongName='QtCore.pyd' DiskId='1' 
                  Source='PyQt4\QtCore.pyd'/>
                <File Id='QtDesignerPYD' Name='QtDesign.pyd' LongName='QtDesigner.pyd' DiskId='1' 
                  Source='PyQt4\QtDesigner.pyd'/>
                <File Id='QtGuiPYD' Name='QtGui.pyd' LongName='QtGui.pyd' DiskId='1' 
                  Source='PyQt4\QtGui.pyd'/>
                <File Id='QtNetworkPYD' Name='QtNet.pyd' LongName='QtNetwork.pyd' DiskId='1' 
                  Source='PyQt4\QtNetwork.pyd'/>
                <File Id='QtOpenGLPYD' Name='QtOpenGL.pyd' LongName='QtOpenGL.pyd' DiskId='1' 
                  Source='PyQt4\QtOpenGL.pyd'/>
                <File Id='QtScriptPYD' Name='QtScript.pyd' LongName='QtScript.pyd' DiskId='1' 
                  Source='PyQt4\QtScript.pyd'/>
                <File Id='QtSqlPYD' Name='QtSql.pyd' LongName='QtSql.pyd' DiskId='1' 
                  Source='PyQt4\QtSql.pyd'/>
                <File Id='QtSvgPYD' Name='QtSvg.pyd' LongName='QtSvg.pyd' DiskId='1' 
                  Source='PyQt4\QtSvg.pyd'/>
                <File Id='QtTestPYD' Name='QtTest.pyd' LongName='QtTest.pyd' DiskId='1' 
                  Source='PyQt4\QtTest.pyd'/>
                <File Id='QtXmlPYD' Name='QtXml.pyd' LongName='QtXml.pyd' DiskId='1' 
                  Source='PyQt4\QtXml.pyd'/>
              </Component>

            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id='ProgramMenuFolder' Name='PMenu' LongName='Programs'>
        <Directory Id='ProgramMenuDir' Name='Mantid' >
        </Directory>
      </Directory>

      <Directory Id='DesktopFolder' Name='Desktop' />
    </Directory>

    <Property Id='DIREXISTS'>
      <DirectorySearch Id='CheckDir' Path='C:\Python25\Lib\site-packages\PyQt4' Depth='0'/>
    </Property>

    <Feature Id='Complete' Title='Mantid' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MantidExecAndDlls' Title='Mantid binaries' Description='The main executable.' Level='1'>
      
        <ComponentRef Id='MantidDLLs' />
        <ComponentRef Id='Plugins' />
        <ComponentRef Id='Documents' />
        <ComponentRef Id='Logs' />
        <ComponentRef Id='IncAlgorithms' />
        <ComponentRef Id='IncAPI' />
        <ComponentRef Id='IncDataHandling' />
        <ComponentRef Id='IncGeometry' />
        <ComponentRef Id='IncKernel' />
        <ComponentRef Id='IncPythonAPI' />
        <ComponentRef Id='IncUserAlgorithms' />
        <ComponentRef Id='IncDataObjects' />
        <ComponentRef Id='Temp' />
        <ComponentRef Id='Data' />
        <Feature Id='PyQtF' Title='PyQt4' Description='PyQt4' Level='1'>
          <ComponentRef Id='PyQt' />
          <Condition Level='1'>NOT DIREXISTS</Condition>
        </Feature>

        <Feature Id='TestDirectory' Title='Test directory' Level='1000'>
          <ComponentRef Id='TestsDir' />
        </Feature>
        
      </Feature>

      <Feature Id='QTIPlotExec' Title='QTIPlot' Description='QTIPlot' Level='1'>
        <ComponentRef Id='QTIPlot' />
      </Feature>

      <Feature Id='SourceFiles' Title='Source' Description='Mantid source code' Level='1000'>
        <ComponentRef Id='Source' />
      </Feature>

    </Feature>

    <UIRef Id='WixUI_Mondo' />
    <UIRef Id='WixUI_ErrorProgressText' />
    <!--Icon Id='Foobar10.exe' SourceFile='FoobarAppl10.exe' /-->

  </Product>
</Wix>
