# Make sure Third_Party doesn't get checked into the main repository
Third_Party/
# Common out-of-source build directory names. Usually, these should go in your .git/info/exclude
dbg/
debug/
release/
