# This file can be used to override any properties for this installation.
# Any properties found in this file will override any that are found in the Mantid.Properties file
# As this file will not be replaced with futher installations of Mantid it is a safe place to put 
# properties that suit your particular installation.

# Where to find mantid plugin libraries
plugins.directory = @BIN_DIR@

# Where to find Mantid Qt plugin libraries
mantidqt.plugins.directory = @BIN_DIR@

# Directories for instruments/parameters
instrumentDefinition.directory = @INSTRUMENT_DIR@
parameterDefinition.directory = @INSTRUMENT_DIR@

datasearch.searcharchive=Off

datasearch.directories = @SYSTEMTESTDATA_DIR@;@SYSTEMTESTDATA_DIR@/LOQ;@SYSTEMTESTDATA_DIR@/SANS2D;@AUTOTESTDATA_DIR@;@REFERENCERESULTS_DIR@;@INSTRUMENT_DIR@;@BIN_DIR@

# logging configuration
# root level message filter (drop to debug for more messages)
logging.loggers.root.level = information
# splitting the messages to many logging channels
logging.loggers.root.channel.class = SplitterChannel
logging.loggers.root.channel.channel1 = consoleFilterChannel
logging.loggers.root.channel.channel2 = fileFilterChannel
logging.loggers.root.channel.channel3 = signalChannel

# --------- CONSOLE OUTPUT : show only errors --------------------
logging.channels.consoleFilterChannel.class = FilterChannel
logging.channels.consoleFilterChannel.channel = consoleChannel
logging.channels.consoleFilterChannel.level = error
logging.channels.consoleChannel.class = ConsoleChannel
logging.channels.consoleChannel.formatter = f1

# --------- LOG FILE : show information level --------------------
logging.channels.fileFilterChannel.class= FilterChannel
logging.channels.fileFilterChannel.channel= fileChannel
logging.channels.fileFilterChannel.level= information

logging.channels.fileChannel.class = FileChannel
logging.channels.fileChannel.path = ~/mantid.log
logging.channels.fileChannel.formatter.class = PatternFormatter
logging.channels.fileChannel.formatter.pattern = %Y-%m-%d %H:%M:%S,%i [%I] %p %s - %t
logging.formatters.f1.class = PatternFormatter
logging.formatters.f1.pattern = %s-[%p] %t
logging.formatters.f1.times = local
logging.channels.fileChannel.formatter.times = local

# SignalChannel - Passes messages to the MantidPlot User interface
logging.channels.signalChannel.class = SignalChannel


