[workspace]
channels = ["conda-forge", "neutrons"]
name = "mantid-ci"
# platform will be added dynamically
platforms = ["linux-64", "win-64", "osx-arm64"]

[environments]
rattler-builder = {features = ["rattler-builder"], no-default-feature = true}
mantid-developer-ci = {features = ["mantid-developer-ci"], no-default-feature = true}

[feature.mantid-developer-ci]
channels = ["conda-forge", "neutrons"]

[feature.rattler-builder.dependencies]
rattler-build = "*"
rattler-index = "*"
versioningit = "*"

[feature.rattler-builder.target.win-64.dependencies]
m2w64-jq = ">=1.6,<2"

[feature.rattler-builder.target.linux-64.dependencies]
jq = ">=1.8.1,<2"

[feature.rattler-builder.target.osx-arm64.dependencies]
jq = ">=1.8.1,<2"

[feature.rattler-builder.tasks.build-and-install-mantid-developer]
args = [
  "mantid_root",
]
cmd = """
sh {{ mantid_root }}/buildconfig/Jenkins/Conda/package-conda {{ mantid_root }} --build-mantid-developer && \
PLATFORM=$(pixi info --json | jq -r .platform) && \
pixi workspace channel add {{ mantid_root }}/conda-bld -f mantid-developer-ci --prepend && \
pixi add --platform $PLATFORM -f mantid-developer-ci mantid-developer
"""
# export MANTID_VERSION=$(versioningit {{ mantid_root }}) && \
# rattler-build build -r {{ mantid_root }}/conda/recipes/mantid-developer/ -m {{ mantid_root }}/conda/recipes/conda_build_config.yaml --output-dir {{ rattler_build_path }} -c neutrons {{ extra_build_options }} && \
