c_compiler:
  - gcc                      # [linux]
  - clang                    # [osx]
  - vs2019                   # [win]
c_compiler_version:            # [unix]
  - 15                         # [osx]
  - 10                         # [linux]
cxx_compiler:
  - gxx                      # [linux]
  - clangxx                  # [osx]
  - vs2019                   # [win]
cxx_compiler_version:          # [unix]
  - 15                         # [osx]
  - 10                         # [linux]
llvm_openmp:                   # [osx]
  - 15                         # [osx]

python:
  - 3.10

boost:
  - 1.77

numpy:
  - 1.21.*

matplotlib:
  - 3.6.*

# 1.12.2 introduced an unguarded #define NOMINMAX which causes a compiler warning. It's resolved on their devel branch so should be fine after 1.12.4
poco:
  - 1.12.1|>=1.12.5

# Force to 4.4.1 as later versions cause issues with loading CIF files
pycifrw:
  - 4.4.1

sphinx:
  - 5.1.1

sphinx_bootstrap_theme:
  - 0.8.1

scipy:
  - '>=1.10.0'

pyqt:
  - 5.15

# Pins qt to a specific version to avoid gui rendering problems in certain versions
qt_main:
  - 5.15.8

# 5.4.2 crashes the jupyter console. The bug was fixed in 5.4.3.
qtconsole:
  - '!=5.4.2'

qscintilla2:
  - 2.13

tbb:
  - 2021

hdf5:
  - 1.12.*

gsl:
  - 2.7

# v0.3.23 causes a hang on osx for some systemtests
libopenblas:
  - '!=0.3.23'

# 8.2 causing segfaults in jupyter unit tests and doc builds.
readline:
  - <8.2

euphonic:
  - '>=1.2.1,<2.0'

# 2.2.0 causes resolution issues in the mantidqt host environment on linux
librdkafka:
  - <=2.1.1

# 1.4.4 causes mantid package build to fail
rhash:
  - <=1.4.3

pin_run_as_build:
    boost:
      max_pin: x.x
