# Configuration file for ReduceSCD_OneRun.py and ReduceSCD_Parallel.py.
#
# Each line can either start with a comment, indicated by a '#' mark or start
# with a parameter name and value, optionally followed by a comment.  ALL 
# parameters used by the script must be specified.  If a required parameter 
# is not specified, the script will terminate with a message indicating which 
# parameter was missing.
#

#
# _v1: December 3rd 2013. Mads Joergensen
# This version now includes the posibility to use the 1D cylindrical integration method
# and the posibility to load a UB matrix which will be used for integration of the individual
# runs and to index the combined file (Code from Xiapoing).
#

# ==========================================================================
# Parameters needed by ReduceOneSCD_Run.py, to process ONE run.
# ==========================================================================
#
instrument_name   TOPAZ                        # prefix for run file names

#
# Specify calibration file(s).  SNAP requires two calibration files, one
# for each bank.  If the default detector position is to be used, specify
# None as the calibration file name.
#
calibration_file_1  /SNS/TOPAZ/IPTS-9890/shared/2013B_calibration/TOPAZ_27Aug2013.DetCal
calibration_file_2  None

#
# Set the data_directory to None to use findnexus to get the run file when
# running this on the SNS systems.  On other systems, all of the input files
# must be copied into one directory and that directory must be specified as
# the data_directory
#
data_directory    None       
output_directory  /SNS/TOPAZ/IPTS-9890/shared/test/

#
# Min & max tof determine the range of events loaded. Min & max monitor tof
# determine the range of tofs integrated in the monitor data to get the 
# total monitor counts
#
min_tof           1000
max_tof          16666
monitor_index        0
min_monitor_tof   1000
max_monitor_tof  12500

#
# Read the UB matrix from file. This option will be applied to each run and used for 
# combined file. This option is especially helpful for 2nd frame TOPAZ data.
read_UB       False
UB_filename  /SNS/TOPAZ/IPTS-9890/shared/test/test.mat

#
# Specifiy a conventional cell type and centering.  If these are None, only
# one .mat and .integrate file will be written for this run, and they will
# be in terms of the Niggli reduced cell.  If these specifiy a valid
# cell type and centering, an additional .mat and .integrate file will be
# written for the specified cell_type and centering.  NOTE: If run in
# parallel, the driving script will only read the Niggli version of the
# .integrate file, and will combine, re-index and convert to a conventional
# cell, so these can usually be left as None.
#
# Cell trnasformation is not applied to cylindrical profiles, 
# i.e. use None if cylindrical integration is used!
#
cell_type     Triclinic
centering     P

#
# Number of peaks to find, per run, both for getting the UB matrix,
# AND to determine how many peaks are integrated, if peak positions are
# NOT predicted.  NOTE: This number must be choosen carefully.  If too
# many peaks are requested, find peaks will take a very long time and
# the returned peaks will probably not even index, since most of them
# will be "noise" peaks.  If too few are requested, then there will be
# few peaks to be integrated, and the UB matrix may not be as accurate 
# as it should be for predicting peaks to integrate.
#
num_peaks_to_find 400

#
# min_d, max_d and tolerance control indexing peaks.  max_d is also 
# used to specify a threshold for the separation between peaks
# returned by FindPeaksMD, so it should be specified somewhat larger
# than the largest cell edge in the Niggli reduced cell for the 
# sample.
#
min_d         8
max_d        20 
tolerance  0.12

#
# If predicted peak positions are to be integrated, 
# the integrate_predicted_peaks flag should be set to True and the range 
# of wavelengths and d-spacings must be specified
#
integrate_predicted_peaks   False
min_pred_wl                 0.4
max_pred_wl                 3.5
min_pred_dspacing           0.5
max_pred_dspacing           8.5

#
# Select only ONE of the following integration methods, by setting the
# use_*****_integration flag True.
#
use_sphere_integration           True
use_ellipse_integration          False 
use_fit_peaks_integration        False
use_cylindrical_integration      False

#
# Specify sphere and ellipse integration control parameters. Check that these
# are correct, if use_sphere_integration, or use_ellipse_integration is True.
# Otherwise the values aren't used.
#
peak_radius             0.080      # for sphere integration only
bkg_inner_radius        0.080      # for sphere or ellipse integration
bkg_outer_radius        0.110     # for sphere or ellipse integration
integrate_if_edge_peak  True       # for sphere integration only

# 
# Specify ellispe integration control parameters
#
ellipse_region_radius   0.16 
ellipse_size_specified  True 

#
# Specify fit peaks integration control parameters.  Check that these are
# correct, if use_fit_peaks_integration = True.  Otherwise the values 
# aren't used.
#
rebin_step            -0.004
preserve_events       True
use_ikeda_carpenter   False 
n_bad_edge_pixels      0


# 
# Specify cylindrical integration control parameters
#
cylinder_radius      0.05
cylinder_length      0.30

# ==========================================================================
# Additional Parameters needed by ReduceSCD_Parallel.py, to process
# multiple runs in parallel.
# ==========================================================================
#
exp_name               SPAnH_test     
reduce_one_run_script  ReduceSCD_OneRun_v1.py

#
# Specify the run numbers that should be reduced.  This can be done on several
# lines.  Each line must start with the parameter name run_nums and be followed
# by a comma separated list of individual run numbers or ranges of run numbers.
# A range of run numbers is specified by listing the first number and last
# number in the range, separated by a colon.
#
run_nums  8512:8513

#
# Specify the slurm partion, or None to use local processes.  The parameter
# max_processes controls the maximum number of processes that will be run 
# simultaneously locally, or that will be simultaneously submitted to slurm.
# The value of max_processes should be choosen carefully with the size of the
# system in mind, to avoid overloading the system.  Since the lower level 
# calculations are all multi-threaded, this should be substantially lower than
# the total number of cores available.
# All runs will be processed eventually.  If there are more runs than then
# max_processes, as some processes finish, new ones will be started, until
# all runs have been processed.
#
#slurm_queue_name    topazq 
slurm_queue_name    None 
max_processes       13 

