Package: mantid-developer
Version: 1.2.1
Section: main
Priority: optional
Architecture: all
Depends: git, cmake-qt-gui(>=2.8.12), qt4-qmake, qt4-dev-tools, libpoco-dev, libboost-all-dev, libnexus0-dev, libgoogle-perftools-dev, libqwt5-qt4-dev, libqwtplot3d-qt4-dev, python-qt4-dev, libgsl0-dev, liboce-visualization-dev, libmuparser-dev, python-numpy, libssl-dev, libqscintilla2-dev, texlive,texlive-latex-extra, dvipng, libhdf4-dev, doxygen, python-sphinx, python-scipy, ipython-qtconsole (>=1.2.0), libhdf5-dev, libhdf4-dev, libpococrypto9-dbg, libpocodata9-dbg, libpocofoundation9-dbg, libpocomysql9-dbg, libpoconet9-dbg, libpoconetssl9-dbg, libpocoodbc9-dbg, libpocosqlite9-dbg, libpocoutil9-dbg, libpocoxml9-dbg, libpocozip9-dbg, python-qt4-dbg, qt4-default, ninja-build
Installed-Size: 0
Maintainer: Mantid Project <mantid-help@mantidproject.org>
Description: Installs all packages required for a Mantid developer
 A metapackage which requires all the dependencies and tools that are 
 required for Mantid development. It works for Ubuntu version 14.04
