# this uses the action to merge special branches on push
# https://github.com/marketplace/actions/merge-branch
name: Merge protected branches

on:
  workflow_dispatch:
  push:
    branches: [ornl-next, release-next]

jobs:
  merge-release-into-main:
    runs-on: ubuntu-latest
    # run on release-next branch and do not run in forks
    if: ${{ github.ref_name == 'release-next' && github.repository_owner == 'mantidproject' }}
    steps:
      - uses: actions/checkout@v6

      - name: Merge release-next into main
        uses: devmasx/merge-branch@v1.4.0
        with:
          type: now
          target_branch: main
          message: Merge release-next into main
          github_token: ${{ secrets.MANTID_BUILDER_TOKEN }}

  merge-ornl-into-main:
    runs-on: ubuntu-latest
    # run on ornl-next branche and do not run in forks
    if: ${{ github.ref_name == 'ornl-next' && github.repository_owner == 'mantidproject' }}
    steps:
      - uses: actions/checkout@v6

      - name: Merge ornl-next into main
        uses: devmasx/merge-branch@v1.4.0
        with:
          type: now
          target_branch: main
          message: Merge ornl-next into main
          github_token: ${{ secrets.MANTID_BUILDER_TOKEN }}
