name: doxygen documentation build
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  doxygen:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            doxygen:
              - '**/*.cpp'
              - '**/*.h'
              - '**/*.hxx'
              - 'Framework/Doxygen/**'
              - 'conda/recipes/mantid-developer/**'
              - 'conda/recipes/conda_build_config.yaml'
              - 'buildconfig/Jenkins/Conda/doxygen.sh'
              - '.github/workflows/doxygen.yml'

      - uses: actions/checkout@v6
        if: steps.changes.outputs.doxygen == 'true'
        with:
          fetch-depth: 0

      - uses: prefix-dev/setup-pixi@v0.9.3
        if: steps.changes.outputs.doxygen == 'true'
        with:
          frozen: true

      - name: build doxygen
        if: steps.changes.outputs.doxygen == 'true'
        run: |
          $GITHUB_WORKSPACE/buildconfig/Jenkins/Conda/doxygen.sh $GITHUB_WORKSPACE

      # publish documentation if on main branch
      - name: Checkout Doxygen repository
        if: ${{ github.ref_name == 'main' && steps.changes.outputs.doxygen == 'true' }}
        env:
          DOXYGEN_REPO_TOKEN: ${{ secrets.DOXYGEN_REPO_TOKEN }}
        run: |
          git clone https://$DOXYGEN_REPO_TOKEN@github.com/mantidproject/doxygen.git doxygen_repo
          rm -rf doxygen_repo/*

      - name: Copy Doxygen artifacts
        if: ${{ github.ref_name == 'main' && steps.changes.outputs.doxygen == 'true' }}
        run: |
          cp -r $GITHUB_WORKSPACE/build/doxygen/html/* doxygen_repo/

      - name: Commit Doxygen and push
        if: ${{ github.ref_name == 'main' && steps.changes.outputs.doxygen == 'true' }}
        working-directory: doxygen_repo
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update Doxygen docs"
          git push origin main
